<%= if @current_user==nil do %>
    <%= render TaskTrackerWeb.PageView, "index.html", Map.put(assigns, :action, page_path(@conn, :index)) %>
<%= else %>
<h2>New Task</h2>
<%= render "form.html", Map.put(assigns, :action, task_path(@conn, :create)) %>
<span><%= link "Back", to: task_path(@conn, :index) %></span>
<%= end %>